.container {
    min-height: 100vh;
}

.flexCenter {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.title {
    background-color: var(--theme-main);
    border: 1px solid var(--theme-second);
    color: var(--theme-second);
    border-radius: 50px;
    transition:
        box-shadow 0.5s ease,
        border-color 0.5s ease;
    text-decoration: none;
}

.title:hover,
.title:active {
    border: 0.5px solid var(--theme-second);
    box-shadow: 0 0 10px 4px var(--theme-second);
}
.title > * {
    font-family: "SUSEMono";
    font-weight: bold;
    font-size: 40px;
    margin: 10px;
}
